<md-toolbar layout="row" layout-align="center center">

  <md-button ui-sref="home">
    <div class="acme-navbar-text">
      DEAD - Gerenciador de Plano de Ensino
    </div>
  </md-button>

  <section flex layout="row" layout-align="end center">
    <md-button href="#" class="md-raised">Login</md-button>
    <md-button ui-sref="programas" class="md-raised">Programas</md-button>
    <md-button href="#" class="md-raised">Perfis</md-button>
    <md-button href="#" class="md-raised">Cursos</md-button>
  </section>

</md-toolbar>
